PORT=3000

COOKIE_NAME="bank"

JWT_SHORT=9f3c7b8a2d1e4f6a9c0b2d3e5f7a8c1d
JWT_REFRESH=5a8d2f1c9b3e7a4d6c0f2b8e1d9a7c3f
JWT_ACCESS_TIME=900
JWT_REFRESH_TIME=7200

DATABASE_URL="file:./prisma/database.db"