/dist
/node_modules
/build

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
.temp
.tmp

pids
*.pid
*.seed
*.pid.lock

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/src/prisma/migrations
/src/prisma/generated


/src/generated/prisma
