:root {
	--color-primary: #3b82f6;
	--color-primary-hover: #5dbeff;
	--color-primary-light: #eff6ff;

	--color-secondary: #6b7280;
	--color-secondary-hover: #c3c9d6;

	--color-success: #16a34a;
	--color-success-hover: #15803d;

	--color-warning: #f59e0b;
	--color-warning-hover: #d97706;

	--color-error: #dc2626;
	--color-error-hover: #b91c1c;

	--color-info: #0ea5e9;
	--color-info-hover: #0284c7;

	--color-white: #ffffff;
	--color-white-hover: #dadada;

	--color-black: #111827;
	--color-gray: #9ca3af;
}
